{% extends "base.html" %} 
{% block title %}Log In{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Login to Your Account</h2>

    {% if form.errors %}
    <p class="error-message">Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>You don't have access to this page. To proceed, please log in with an account that has access.</p>
        {% else %}
            <p>Please log in to see this page.</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        
        <button type="submit" class="btn-primary">Log In</button>
        
        <input type="hidden" name="next" value="{{ next }}" />
    </form>

    <p>
        <a href="{% url 'password_reset' %}">Forgot password?</a>
    </p>
    <p>
        Don't have an account? <a href="{% url 'register' %}">Sign Up</a>
    </p>
</div>
{% endblock %}